
/*Google Fons       recomendable realizar la importacion del mismo archivo .css */

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');



/*bootstrap Iconos*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");




/*Para resetear*/
*{

    margin: 0;
    padding: 0;

    box-sizing: border-box;
        
    text-decoration: none;
    list-style: none;

    /*
        outline: 1px solid red;  
    */


    


    -webkit-box-sizing: border-box;
}



html,
body{

    /*Estilo 1 de parrafo*/
    font-family: "Titillium Web", serif;

    /*
    background-color: var(--colorEstilo2);
    */

    background-color: var(--colorEstilo47);

    /*desplazamieento suave cuando se usa navevacion por ancla*/
    scroll-behavior: smooth;

}




/*Estilos generales*/
:root{

    --colorEstilo1:#000000;       
    --colorEstilo2:#0f1113;
    --colorEstilo3:#252422;
    --colorEstilo4:#020004;
    --colorEstilo5:#1c1c1d;
    --colorEstilo6:#212529;
    --colorEstilo7:#222222;
    --colorEstilo8:#111111;
    --colorEstilo9:#0B0D0E;
    --colorEstilo10:#131617;
    --colorEstilo11:#2d2d43;
    --colorEstilo12:#212425;
    --colorEstilo13:#2e2e2e;
    --colorEstilo14:#0d1326;    
    --colorEstilo15:#212121;
    --colorEstilo16:#2f2f2f;    
    --colorEstilo17:#333333;

    --colorEstilo18:#353636;
    --colorEstilo19:#403F40;
    --colorEstilo20:#3c3c3c;
    --colorEstilo21:#403b3b;
    --colorEstilo22:#404040;
    --colorEstilo23:#444444;
    --colorEstilo24:#7b7b7c;
    --colorEstilo25:#5d5d5d;
    --colorEstilo26:#4D4D4D;
    --colorEstilo27:#888888;    
    --colorEstilo28:#6C757D;
    --colorEstilo29:#999999;
    --colorEstilo30:#777777;
    --colorEstilo31:#979797;
    --colorEstilo32:#aaaaaa;
    --colorEstilo33:#b5b5b5;  
    --colorEstilo34:#ababab;    
    --colorEstilo35:#cccccc;
    --colorEstilo36:#d1cebd;   


    --colorEstilo37:#eeeeee;
    --colorEstilo38:#efefef;
    --colorEstilo39:#F9F9F9;
    --colorEstilo40:#F8F9FA; 
    --colorEstilo41:#e6ebff;
    --colorEstilo42:#f0f0f0;
    --colorEstilo43:#FAF5F1;
    --colorEstilo44:#FCF7F5;
    --colorEstilo45:#f7f7f7;
    --colorEstilo46:#f5f5f5;
    --colorEstilo47:#ffffff;


    --colorEstilo48:#fef8ee;
    --colorEstilo49:#FAFAFB;
    --colorEstilo50:#f1fcf2;    
    --colorEstilo51:#f6f6f6;


    
    --colorEstilo52:#11295a;
    --colorEstilo53:#0c5ae9;
    --colorEstilo54:#144194; 
    
    
    --colorEstilo55: #155237;
    --colorEstilo56: #198754;
    --colorEstilo57:#f0fdf6;


    --colorEstilo58:#b64e07;
    --colorEstilo59:#FEBF32;

    
    --colorEstilo60:#155b75;
    --colorEstilo61:#1DCBEE;




}



img.logosize {
    width: 200px;
}


/**********************************************/
/*proyecto 1*/
section.contenedor__s1{
    background-color: var(--colorEstilo52);
}


div.s1row1 div.s1row1__lado1 div.s1row1lado1__texto{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-content: center;
  
}



/**********************************************/
section.contenedor__s2{
    background-color: var(--colorEstilo55);
}

div.s2row1 div.s2row1__lado1 div.s2row1lado1__texto{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-content: center;
  
}


div.s2row1__lado1 div.s2row1lado1__texto div.s2row1__grupobotones{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}


div.container div.s2row3 div {
    display: flex;
    flex-direction: row;    
    flex-wrap: wrap;
    gap: 10px;
}

div.container div.s2row3 div img{
    width: 100%;
}

/**********************************************/
div.s2row4__lado2 div.s2row4lado2__texto{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-content: center;

}


/**********************************************/
/*proyecto 3*/
section.contenedor__s3{
    background-color: var(--colorEstilo58);
}

div.s3row1 div.s3row1__lado1 div.s3row1lado1__texto{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-content: center;
  
}


div.container div.s3row1{
    background-image: url("../imagenes/seccion3-1.jpg");

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



div.s3row2 div.s3row2__lado2 div.s2row2lado2__texto{
    display: flex;
    flex-direction: column;
    justify-content: center;

}




/**********************************************/
/*proyecto 4*/
section.contenedor__s4{
    background-color: var(--colorEstilo60);
}

div.s4row1__lado2 div.s4row1lado2__texto div.s4row1__grupobotones {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

div.s4row1__lado2 div.s4row1lado2__texto{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-content: center;
}




div.container div.s4row2 div {
    display: flex;
    flex-direction: row;    
    flex-wrap: wrap;
    gap: 10px;
}

div.container div.s4row2 div img{
    width: 100%;
}


div.s4row3 div div div img{
    width: 100%;
}

















/*Adaptable (Responsive)*/
@media screen and (max-width: 800px)
{


}


@media screen and (max-width: 800px)
{


}


@media screen and (max-width: 992px)
{
    /*****************************************/

    
   /*****************************************/
    /*Proyecto2*/
    div.container div.s2row4 div.s2row4__lado1 div.card{
        width: 250px!important;
    }


   /*****************************************/
    /*Proyecto4*/
    section.contenedor__s4 div.container div.s4row3 div.row{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    div.s4row3 div.row div.col{
        width: 200px;
    }


}



@media screen and (max-width: 768px)
{


   /*****************************************/
    /*Proyecto2*/
    div.s2row4lado2__texto{
        margin-top: 40px;
    }

    div.s2row1lado1__texto div.s2row1__grupobotones button.btn{
        width: 200px!important;
    }


   /*****************************************/
    /*Proyecto3*/
    div.s3row1lado1__texto div.s3row1__grupobotones button.btn{
        width: 200px!important;
    }


   /*****************************************/
    /*Proyecto4*/
    div.s4row1lado2__texto div.s4row1__grupobotones button.btn{
        width: 200px!important;
    }


    div.s4row4 div.row div h4{
        margin-top: 20px;
    }


}










@media screen and (max-width: 700px)
{

}


@media screen and (max-width: 576px)
{

    /*****************************************/
    /*Proyecto1*/
    div.carousel-caption h5{
        font-size: 1rem;
        color: var(--colorEstilo38);
    }

    div.carousel-caption p{
        font-size: 0.8rem;
    }




    /*****************************************/
    /*Proyecto3*/
    div.container div.s2row3 div img {
        width: 100px;
    }

    /*****************************************/
    /*Proyecto4*/
    div.container div.s4row2 div img {
        width: 100px;
    }



}



































